# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [18]:
CREATE TABLE JunkDB_STL_May2023.catelyn.planned_makes2(
Book_Name VARCHAR(50) PRIMARY KEY, 
Book_Cost INT,
lenth_book INT,
Rating INT)

In [19]:
SELECT *
FROM JunkDB_STL_May2023.catelyn.planned_makes2;

Add three rows to your table that are your planned makes.

In [21]:
INSERT INTO JunkDB_STL_May2023.catelyn.planned_makes2 (Book_Name, Book_Cost, lenth_book, Rating)
VALUES
    ('Bow Before the Elf', 4, 506, 4),
    ('The Coven', 2, 298, 3),
    ('Fourth Wing', 15, 664, 5)
SELECT * FROM JunkDB_STL_May2023.catelyn.planned_makes2

Book_Name,Book_Cost,lenth_book,Rating
Bow Before the Elf,4,506,4
Fourth Wing,15,664,5
The Coven,2,298,3

## Update a Row

Change different values in one of your three rows.

In [22]:
UPDATE catelyn.planned_makes2
SET Book_Cost = 15
WHERE Book_Name = 'The Coven'

SELECT *
FROM catelyn.planned_makes2

Book_Name,Book_Cost,lenth_book,Rating
Bow Before the Elf,4,506,4
Fourth Wing,15,664,5
The Coven,15,298,3

## Delete a Row

Delete one of the rows from your table.

In [23]:
DELETE FROM catelyn.planned_makes2
WHERE Book_Name = 'The Coven';

SELECT * FROM catelyn.planned_makes2

Book_Name,Book_Cost,lenth_book,Rating
Bow Before the Elf,4,506,4
Fourth Wing,15,664,5

## Drop the Table

While this has been fun, it is time to drop the table!

In [24]:
DROP TABLE catelyn.planned_makes2;